/*

    #6a888c
    #5f7174
    #a5e65a
    #00abc0
    #32d9cb

    Color Palette
    DARK: #253f4c
    SHADES : 
        DARK : #21897E
        MIDDLE : #3BA99C 
        BRIGHT : #69D1C5
    ACCENT : #FF6978 #54FF44

*/

html {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height : 100%;
}

body {
    margin: 0;
    background-color: #253f4c;
    height : 100%;
    overflow: hidden;
}

.background {
    background-color: #253f4c;
}

#name {
    color : #a5e65a ;
    flex : 8;
    margin-left: 10px;
}

#menu {
    flex : 1;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

#menu li {
    height: 100%;
    display: inline;
    display: flex;
    align-items: center;
    flex : auto;
}

.nav {
    width : 100%;
}

#menu .active i{
    border-bottom: #21897E solid 5px;
    padding-bottom: 10%;
}

#menu li:hover {
    color : #21897E; 
}

#header {
    height : 5%; 
    background-color: #00abc0;
    display: flex;
}

.satisfy {
    font-family: 'Satisfy', cursive;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.accent {
    color : #a5e65a;
}

.title {
    font-size: 70px;
    text-align: center;
}

.container {
    margin : 5%;
    width : 100%;
}

#big {
    text-align: center;
    width: max-content;
    font-size: xx-large;
    font-weight: 900;
}

.page {
    position: relative;
    height : 100%;
    top : -5%;
    z-index : -1;

    -webkit-transition:top 1.5s;
	transition:top 1.5s;
    
}

#home {
    display :flex;
    justify-content: center;
}

#presentation{
    padding-top: 10%;
    align-items: center;
    text-align: center;
    color : #00abc0;
    font-size : 1.5em;
    width : 60%;
}

#presentationText {
    padding: 2%;
    border-radius: 50px;
    border : #32d9cb solid 3px;
}

#presentation a {
    text-decoration: none;
    color : #32d9cb;
}

#presentationName {
    margin-top: 10%;
    color : #a5e65a;
    font-size: 70px;
    text-align: center;
}

.left {
    align-items: left;
    text-align: left;
}

.text {
    align-items: center;
    text-align: center;
}

#internship, #projects_info {
    background-color: #21897E;
    color : #253f4c;
    font-size : 1.5em;
    width : 100%;
    display: flex;
    flex-direction: column;
}

#internship {
    background-image: url("images/background1.jpg");
}

.lists {
    overflow-x: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    width : 100%; 
}

.list {
    background-color:    #5f7174;
    margin : 5% 10% auto 10%;
    padding:5px;
    flex : 20% ;
    width : 30% !important;
    height : 40%;
    border : #32d9cb solid 2px;
    border-radius: 10px;
}

.list:hover {
    background-color: #32d9cb;
}

.listTitle {
    text-align: center;
    font-size: 40px;
    color : #ffffff;
}

#robotsTitle {
    margin-top: 4%;
}


#sloth {
    background-image: url("");
}