/*
    Color Palette
    DARK: #17262E
    SHADES : 
        DARK : #21897E
        MIDDLE : #3BA99C 
        BRIGHT : #69D1C5
    ACCENT : #FF6978 #54FF44

*/

html {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height : 100%;
}

body {
    margin: 0;
    background-color: #17262E;
    height : 100%;
    overflow: hidden;
}

.background {
    background-color: #17262E;
}

#name {
    color : #21897E ;
    flex : 8;
    margin-left: 10px;
}

#menu {
    flex : 1;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

#menu li {
    height: 100%;
    display: inline;
    display: flex;
    align-items: center;
    flex : auto;
}

.nav {
    width : 100%;
}

#menu .active i{
    border-bottom: #21897E solid 5px;
    padding-bottom: 10%;
}

#menu li:hover {
    color : #21897E; 
}

#header {
    height : 5%; 
    background-color: #69D1C5;
    display: flex;
}

.satisfy {
    font-family: 'Satisfy', cursive;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.accent {
    color : #FF6978;
}

.title {
    font-size: 70px;
    text-align: center;
}

.container {
    margin : 5%;
}

#big {
    text-align: center;
    width: max-content;
    font-size: xx-large;
    font-weight: 900;
}

.page {
    position: relative;
    height : 100%;
    top : -5%;
    z-index : -1;

    -webkit-transition:top 1.5s;
	transition:top 1.5s;
    display: flex;
}

#home {
    display :flex;
    justify-content: center;
}

#presentation{
    padding-top: 10%;
    align-items: center;
    text-align: center;
    color : #3BA99C;
    font-size : 1.5em;
    width : 60%;
}

#presentationText {
    padding: 2%;
    border-radius: 50px;
    border : #21897E solid 3px;
}

#presentation a {
    text-decoration: none;
    color : #21897E;
}

#presentationName {
    margin-top: 10%;
    color : #FF6978;
    font-size: 70px;
    text-align: center;
}

#me {
    background-color: #21897E;
}

